/* CARD IMG */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card.h-100.d-flex.Attivo{
    background-color: rgb(139, 187, 66);
}

.card.h-100.d-flex.Pianificato{
    background-color: rgb(216, 220, 113);
}

.card.h-100.d-flex.Avvenuto{
    background-color: rgb(255, 145, 97);
}
